snippet exp exports a model
	export { default as ${1} } from './${2}';

snippet af Anonymous function
	${0} = () => {

	}

snippet caf const function
	const ${0} = () => {

	}

snippet cl console log
	console.log($0)

snippet frag react fragment
  <>${0}</>
